/*CSS for Background Generator*/

html{
	height: 100%;
}


body{
	font: "Raleway", sans-serif;
	color: rgba(0, 0, 0, .5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	background: linear-gradient(to right, rgb(6,182,227), rgb(7,8,176));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	font: 600 3.5em "Raleway", sans-serif;
	color: rgba(0, 0, 0, .5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
	border: solid black .02em;
}

.h3One{
	font: 900 1em "Raleway", sans-serif;
	color: rgba(0, 0, 0, .5);
	text-align: center;
	text-transform: none;
	letter-spacing: .01em;
	border: solid black .02em;
	width: 100%;
}

h5{
	text-transform: none;
}

#container{
	display: inline-block;
	border: solid black 2px;
	margin: 0;
	font-size: .8em;
}

.underline{
	text-decoration: underline;
}