/*CSS for JS+DOM*/
/*I am just copying what he has in video (section 12, slide 2)
so i can mess around with it and test DOM manipulation.*/


.coolTitle {
	text-align: center;
	font-family: 'Oswald' , Helvetica, sans-serif;
	font-size: 40px;
	transform: skewY(-10deg);
	letter-spacing: 4px;
	word-spacing: -8px;
	color:  tomato;
	text-shadow: 
		-1px -1px 0 firebrick,
		-2px -2px 0 firebrick,
		-3px -3px 0 firebrick,
		-4px -4px 0 firebrick,
		-5px -5px 0 firebrick,
		-6px -6px 0 firebrick,
		-7px -7px 0 firebrick,
		-8px -8px 0 firebrick,
		-30px 20px 40px dimgrey;
}

.done{
	text-decoration:  line-through;
}

/*.notDone{
	text-decoration: none;
}
*/
.title{
	background-color: blueviolet;
}

#first {
	color: darkblue;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 1.5em;
}

.wrap{
	display: flex;
	/*align-content: center;*/
	align-items: center;
/*	border: solid black 2px;*/
	margin: .3em;
}

.delete{
	margin: .5em;
	
}

.listItem{
	margin: 2px;
	border: solid black 2px;
	padding: 2px;

}

.container{
	border: solid red 4px;
}